<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Blog</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f9f9f9;
            color: #252939;
        }
        
        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        .blog-image {
            display: block;
            margin: 20px auto;
            width: 100%;
            max-width: 800px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        .blog-body {
            font-size: 18px;
            line-height: 1.8;
            color: #333;
            white-space: pre-wrap;
            margin: 40px 0;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .author-section {
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .author-section img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .author-section pre {
            font-size: 18px;
            color: #555;
            margin: 0;
        }

        .card {
            margin-top: 40px;
        }

        .card-header {
            background-color: #252939;
            color: white;
        }

        .comment-section {
            padding: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #f1f1f1;
        }

        .comment-section img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .comment-input {
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .comment-input input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .comment-input button {
            margin-top: 10px;
            width: 100%;
            background-color: #252939;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
        }

        
    </style>
</head>
<body>
    <%- include("./partials/nav") %>

    <div class="container mt-5">
        <h1><%= blog.title %></h1>

        <img class="blog-image" src="<%= blog.coverImageUrl %>" alt="<%= blog.title %>">

        <div class="blog-body">
            <%= blog.body %>
        </div>

        <div class="author-section mt-4">
            <img src="<%= blog.createdBy.profileImageUrl %>" width="40px" alt="<%= blog.createdBy.fullName %>">
            <pre><%= blog.createdBy.fullName %></pre>
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h3>Comments (<%= comments.length %>)</h3>
            </div>

            <% comments.forEach(com => { %>
            <div class="comment-section">
                <p><%= com.content %></p>
                <div class="d-flex align-items-center">
                    <img src="<%= com.createdBy.profileImageUrl %>" width="25px" alt="<%= com.createdBy.fullName %>">
                    <span><%= com.createdBy.fullName %></span>
                </div>
            </div>
            <% }) %>
        </div>

        <% if (locals.user) { %>
        <div class="comment-input mt-5">
            <form action="/blog/comment/<%= blog._id %>" method="POST">
                <input type="text" id="content" name="content" placeholder="Enter your comment">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
        <% } %>
    </div>

    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
</body>
</html>
